server:
  port: 8081
spring:
  application:
    name: UserService
  datasource:
    url: jdbc:postgresql://dpg-d6a3apt6ubrc73aspu60-a.oregon-postgres.render.com:5432/pp_fv0u
    username: pp_fv0u_user
    password: L13cOpRgtbC0Ld5CR8cWbWheLOW811FU
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
